+++
title = "Dapr源码解析"
linkTitle = "Dapr源码解析"

+++

{{< blocks/cover title="欢迎参加 Dapr 中国社区源码解析活动!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "./join" >}}">
		参与活动 <i class="fa fa-globe ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "./process" >}}">
		共读 Dapr 源码 <i class="fa fa-star ml-2 "></i>
	</a>
	<p class="lead mt-5">了解 Dapr 源码解析活动!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

为了对 Dapr 有更深刻的了解和掌握，Dapr 中国社区组织了 Dapr 源码解析活动。

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa fa-random" title="流程" %}}

了解 Dapr 提供的分布式能力及其实现流程，包括各种高级特性。

配合文档，为使用 Dapr 提供良好的知识储备。

在 **功能** 层面上全面了解 Dapr！

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-snowflake" title="细节"  %}}

研读 Dapr 的代码实现，掌握 Dapr 实现各种功能和特性的具体方式。

为后续的维护、扩展、排错奠定坚实基础。

在 **代码** 层面上完全掌握 Dapr！

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-university" title="设计" %}}

剖析 Dapr 的架构和设计，了解 Dapr 功能后面的技术背景和产品思路。

为成为 Dapr 贡献者，开发新的能力和特性做好准备。

在 **架构** 层面上深刻理解 Dapr！

{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">欢迎参加，一起阅读和学习 Dapr 源码！</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fa fa-microchip" title="梳理 Dapr 流程" %}}

按照构建块和特性整理 Dapr 的功能点，梳理 Dapr 请求处理流程，学习了解 Dapr 功能实现的整体情况。

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-code" title="深入 Dapr 细节" %}}

通过深入阅读源码全面而细致的了解 Dapr 的代码实现，掌握 Dapr 的处理细节，从点到面，覆盖所有的知识点。

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-object-group" title="归纳 Dapr 设计" %}}

在掌握流程和细节的基础上，归纳总结 Dapr 的架构和设计。结合业务场景和业界实践，探讨 Dapr 的产品思路，理解 Dapr 的设计方案。

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Talk is cheap. Show me the code!</h1>
</div>

{{< /blocks/section >}}
